---
title: Footer
---
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
              class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a
            href="#"><i class="icon ion-social-instagram"></i></a></div>
      </div>
      <p class="copyright">Made with too much coffee at Open Ruby Foundation</p>
    </div>
  </footer>
</div>
<div></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="assets/css/styles.min.css">

