---
layout: default
---
<img src="/assets/img/logo.png" style="height: 60px; width: auto; margin-bottom: 20px;"></img>
{% include page-intro.html %}
{{ content }}
<section>
  <h5> Join our mailing list for event updates! </h5>
  <form name="contact" method="POST" netlify style="margin-bottom:56px">
     <input type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
     <button type="submit" name="submit">Register Now</button>
  </form>  
</section>
<section>
   <div class="container">
   <div class="row">
   <div class="column">
      <h5>🎉 Launching v0.2 on Feb 25th, 2021 - 11am PST </h5>
      <h5> This version will be "party time talk show!" and will be presented via the <a href="https://twitch.tv/therubygalaxy">Ruby Galaxy</a> Twitch channel </h5>
      <h4>Hosted by <a href="https://twitter.com/thejonanshow">Jonan Scheffler</a> and <a href="https://twitter.com/ChaelCodes">Rachael Wright-Munn</a></h4>
   </div>
</section>

<div class="container-flex">
   <div class="column card">
      <img src="/assets/img/Jonan_final_cropped.png"></img>
      <br>
      <h5>Jonan is the Director of Developer Relations at New Relic and an aspiring astronaut. He believes in you and your potential and wants to help you build beautiful things.</a></h5>
      <h5><a href="https://linkedin.com/in/thejonanshow">LinkedIn</a> | <a href="https://twitter.com/thejonanshow">Twitter</a> | <a href="https://twitch.tv/thejonanshow">Twitch</a> | <a href="https://github.com/thejonanshow">GitHub</a> | <a href="https://developer.newrelic.com">Work</a> | <a href="https://thejonanshow.com">Personal</a> </h5>
   </div>
   <div class="column card">
      <img src="/assets/img/Rachael_headshot.jpg"></img>
      <br>
      <h5>Rachael is a Senior Developer Relations Engineer at New Relic. She has been building software and web apps since 2012.</a></h5>
      <h5><a href="https://www.linkedin.com/in/rachael-wright-chaelcodes/">LinkedIn</a> | <a href="https://twitter.com/ChaelCodes">Twitter</a> | <a href="https://twitch.tv/ChaelCodes">Twitch</a> | <a href="https://chael.codes">Personal</a> </h5>
   </div>
</div>
<br>

<section>
   <h4>Brought to you by</h4>
   <br>
   <div class="sponsors">
      <div class="sponsorlogo">
         <a href="https://www.newrelic.com/?utm_source=rubygalaxyio&utm_medium=sponsorship&utm_campaign=rubygalaxy"><img src="assets/NR.png" /></a>
      </div>
      <div class="sponsorlogo">
         <a href="https://dev.to/?utm_source=rubygalaxyio&utm_medium=sponsorship&utm_campaign=rubygalaxy"><img src="assets/dev.png" /></a>
      </div>
      <div class="sponsorlogo">
         <a href="https://github.com/?utm_source=rubygalaxyio&utm_medium=sponsorship&utm_campaign=rubygalaxy"><img src="assets/github.png" /></a>
      </div>
      <div class="sponsorlogo">
         <a href="https://forem.com/?utm_source=rubygalaxyio&utm_medium=sponsorship&utm_campaign=rubygalaxy"><img src="assets/forem.png" /></a>
      </div>
   </div>
</section>

<!-- <section>
   <h3>Recent Talks</h3>
   <ul>
     {% for post in site.posts limit:3 %}
       <li>
         <a href="{{ post.url }}">{{ post.title }}</a>
       </li>
     {% endfor %}
   </ul>
   </section> -->