---
layout: default
---
<h2>{{ page.title }}</h2>
{% include page-intro.html %}

{{ content }}
{% for event in site.data.events %}
  {% unless event.upcoming %}
    {% include event.html event=event %}
  {% endunless %}
{% endfor %}

<!-- <section>
  <ul class="twocolumns">
    {% for post in site.posts %}
      <a href="{{ post.url }}">
      <li>
        <img src="{{ post.coverimage }}"></img>
        <h3>{{ post.title }}</h3>
        <time datetime="{{ post.date }}">
          <small>
            by {{ post.author }}
          </small>
        </time>
      </li>
      </a>
    {% endfor %}
  </ul>

</section> -->
