<section>
  <div class="column">
    <h3>{{include.event.name}} Launched on {{include.event.date}} - {{include.event.event_text }}</h3>
    {% include host_header.html hosts=include.event.hosts %}
  </div>
</section>
<br>
{% for talk in include.event.talks %}
<section>
  <div class="column">
    {% if talk.recording %}
      {% youtube talk.recording %}
    {% else %}
      <p>Video is currently being edited, subscribe to <a href="https://www.youtube.com/channel/UCLa57lJ1HFAKAkjxOjKEZSQ" target="_blank">RubyGalaxy</a> for more galactic content!</p>
    {% endif %}
    <a href="{{talk.recording}}" target="_blank">
      <h3>{{talk.name}}</h3>
    </a>
    <small>
      {{talk.author}} <a href="{{talk.author_twitter}}" style="color:#f93434"><img src="/assets/img/twitter-brands.svg" style="height: 15px; width: 15px; display: inline-block; fill:#f93434" /></a>
    </small>
  </div>
</section>
<br>
{% endfor %}
