<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col item social"><a href="https://twitter.com/therubygalaxy"><i
          class="icon ion-social-twitter"></i></a>
        </div>
      </div>
      <br>
      <center><a href="https://github.com/openrubyfoundation/rubygalaxy/blob/main/code_of_conduct.md"><p style="color: white">Code of Conduct</p></a></center>
      <p class="copyright" style="color: white">Made with too much coffee at Open Ruby Foundation</p>
    </div>
  </footer>
</div>